// Variables

$white: #e2d6ae !default;
$brand-light: #fe8c54 !default;
$brand-dark: #ff6600 !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #e1d4c0 !default;
$secondary: #466c96 !default;

$blue-text: #204873;
$primary-link: #c40606;
$link-active: #ff7575;

$active-link-bg: #52618b;

$text-green: #309a28 !default;